/* Font imports */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Nunito');

/* Colours */
$white: #fff;
$black: #000;

$grey: #353434;
$grey-lighter: #F6F6F6;
$grey-darker: #4A4747;

/* Typography */
$font-primary-family: 'EB Garamond', serif;
$font-secondary-family: 'Nunito', sans-serif;

$font-primary-colour: $black;
$font-secondary-colour: $grey;
