@import '../../assets/scss/_variables.scss';

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    background-color: $grey-lighter;
}

main {
  margin: 0 2rem;
}
