@import '../../assets/scss/_variables.scss';

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    background-color: $grey-lighter;
}

main {
  margin: 0 2rem;

  p {
    font-size: 1.5rem;
    font-family: $font-secondary-family;
    color: $font-secondary-colour;
  }
}
