@import url('https://fonts.googleapis.com/css?family=Sarabun');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom left, #ccccff 0%, #666699 100%);
    color: black;
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
}

main {
  position: absolute;
  left: 5rem;
  top: 3rem;
  background: whitesmoke;
  margin-right: 3rem;
  padding: 1rem;
  min-height: 85vh;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.layout-container {
  position: relative;
}
