@import url('https://fonts.googleapis.com/css?family=Lora');

.container {
  text-align: center;
  padding: 1rem;
}

.heading {
  margin: 0;
  writing-mode: tb;
  font-family: 'Lora', serif;
  font-size: 2.5rem;
  font-weight: 300;
}

.heading a {
  color: #4B77BE;
}
